body{
    background-color: #2D355D;
    font-family: 'Manrope', sans-serif
}
head{

    background-color: #0b0d17;

}
.container {
    margin: 0px auto;
    max-width: 1100px;
    min-width: 350px;
    padding: 80px 0;
    background-color: #0b0d17;
    font-family: 'Manrope', sans-serif;
    box-sizing: border-box
}

.flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cards{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
    padding: 40px 32px;
    background-color: #fff;
    width: 350px;
    height: 346px;
    border-radius: 8px;
    box-sizing: border-box
}

h2 {
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    text-align: center;
    margin: 0px 0px 33px 0px;
    padding: 0;
    color: #fff;
}

h3 {
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #18191f;
}

p {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    color: #18191f;
}
.div-explore{
    order: 1;
}
.a-explore{
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 12px;
    color:#8C30F5;
}
.flex-explore-all{
    display: flex;
    justify-content: center ;
}
.explore-all{
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-decoration-color: #fff;
    color: #fff;
    background-color: #0b0d17;
    width: 180px;
    height: 62px;
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
    border-radius: 8px;
    text-align: center;
    padding: 16px 0px;
    box-sizing: border-box;
}
.icon{
    margin: 0px 0px 56px 0px;
}
.card-p{

}